@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Mont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .btn-primary {
    @apply transition ease-in-out duration-300 text-sm pt-2.5 pb-[10px] px-4 bg-light-accent text-dark-blue font-semibold rounded-lg shadow-md hover:bg-accent focus:outline-none focus:ring-2 focus:ring-accent focus:ring-opacity-75;
  }
  .input-primary {
    @apply rounded-[6px] border-[1px] text-white border-[#C9CDD2] bg-inherit w-24 focus:border-accent focus:caret-accent hover:caret-accent hover:border-accent;
  }
}